* text=auto eol=lf

# Binary video files
*.mp4 binary !eol
*.mov binary !eol
*.webm binary !eol
*.avi binary !eol

# Binary image files
*.png binary !eol
*.jpg binary !eol
*.jpeg binary !eol
*.gif binary !eol
*.ico binary !eol
*.webp binary !eol

# Binary font files
*.ttf binary !eol
*.woff binary !eol
*.woff2 binary !eol