@import "../../_globalColor";

/* Hide the top button entirely */
#topButton,
.top-button,
.topButton {
  display: none !important;
}

/* You can keep the rest, but it won't matter anymore */
#topButton:hover {
  background-color: transparent;
  transition: all ease-in-out 0.25s;
}

.top-button-icon {
  width: 135px;
  height: 135px;
  object-fit: contain;
  display: block;
}
